/* Estilos para o formulário de cadastro */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Estilos para a página de listagem de produtos */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  /* Estilos para a tabela de produtos */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #090505;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Estilos para os botões de ação na tabela */
  .btn {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-editar {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .btn-excluir {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  